<!-- Scenario A -->
<!-- How to add color in HTML -->
<!-- Solution A -->
<button style="background-color: darkred;">Submit</button>
<!-- Reference
 https://www.wikihow.com/Change-the-Button-Color-in-HTML

 https://www.w3schools.com/html/html_colors.asp
-->



<!-- Scenario B -->
<!-- how to make an image into a background image -->
<!-- Solution B -->

<style>
body {
  background-image: url('https://place-puppy.com/300x300');
}
</style>
<!-- Reference
 https://www.w3schools.com/html/html_elements.asp
-->