/*Google font*/
body {
	font-family: 'Open Sans', sans-serif;
}

/*CSS Reset Rule*/

*	{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Margin vs Padding*/
/*Margin is best used when creating space between elements*/
/*Padding is best used when creating space between element's border and its content*/

nav {
	margin-bottom: 2rem;
	padding: 0.8rem;
	border-bottom: 1px solid black;
}

.nav,  .nav-logo {
	margin: 0.5rem;
	text-decoration-style: none;
	display: inline;
}

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header {
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;

}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 20%;
	font-size: 1rem;
	padding: 1rem;
}

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3 {
	margin-bottom: 1rem;
	text-align: center;
}

.card {
	text-align: justify;
	width: 30%;
	display: inline-block;
	vertical-align: top;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

footer {
	padding: 0.7;
}