body {
	font-family: 'Open Sans', sans-serif;
}

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
	text-align: center;
}

#succeed-info h3 {
	margin-bottom: 1rem;
	text-align: left;
	font-size: 1rem;
}

#pre-footer {
	background-color: #212A3E;
}

#pre-footer div {
	text-align: left;
	display: inline-block;
	color: white;
	padding-right: 10%;
	padding-left: 2rem;
}

footer {
	padding: 0.7rem;
}

footer span	{
	margin-right: 1rem;
}