/*CSS SYNTAX*/
/*A CSS rule-set consists of a selector and a declaration block*/

/*selector determines which element will the styling be applied to*/

/*type	selector - targets element with the specified type/tag name*/
h1	{
/*Declaration block*/
/*color - property (th selected styling attribute to be modified in a given selector)*/
/*yellow - value (modified value of the selected styling attribute)*/
	color: yellow;
	text-align: center;
	font-size: 2rem;
}

section {
	height: 100vh;
	text-align: center;
}

ol {
	list-style-type: none;
}

h2	{
	font-size: 1.5rem;
}

body {
	background-color: skyblue;
}

nav	{
	background-color: white;
}

/*selector:hover psuedo class*/
a:hover {
	background-color: blueviolet;
}

div	{
	display: inline-block;
	float: right;
}

/*Universal Selector (lowest priority) - targets all the elements*/
*	{
	font-family: "Courier New", monospace;
	font-size: 20px;
}

/*ID selector (highest priority) - */
#zuitt-motto	{
	letter-spacing: 5x;
}

/*Class Selector - targets element according to its class attribute*/
.offering-item {
	text-transform: uppercase;
}

h3	{
	letter-spacing: 25px !important;
}

/*Attribute Selector - targets element with a specified element attributes; used to target elements with a certain attribute*/
/*tagname[attribute]*/

input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: blue;
	width: 90%;
}

form {
	text-align: center;
	background-color: white;
	border: 10px blue;
	width: 25vw;
	height: 185px;
	position: relative;
	left: 37.25%;
}

button {
	background-color: hotpink;
	color: whitesmoke;
	border: 10px;
	border-radius: 10px;
}
/*!important -*/
/*Specificity Rule*/
/*The following order prioritizes styles from highest to lowest priority (according to selector)
1.ID selector
2.Class selector
3.Attribute Selector
4.Type Selector
5.Universal selector*/

/*the following order prioritizes styles from highest to lowest priority (according to location)
1.Inline styling
2.Internal styling
3.External styling
*/

/*CSS Combinators*/
/*Adjacent Sibling Selector (+) - targets the element immediately following another element, which must be its sibling and located right after it in the HTML Structure*/
/*selector + selector*/
h3 + img {
	height: 300px;
	width: 300px;
/*This is the shape changer*/
	border-radius: 100px;
}

/*Descendant Selector (whitespace) - targets any element that is a descendant another element*/
/*selector selector*/
#bootcamp-learning-list li {
	color: darkred;
}

/*General Sibling Selector (~) - targets all element that follow another element and share the same parent*/
/*selector ~ selector*/

h2 ~ a , a {
	text-decoration: none;
}

/*Child selector (>) - targets all elements that are the children of a specified element*/
/*selector > selector*/
body > section > form > label {
	color: rgb(0, 0, 128);
}