/*Font*/
*{
	font-family: 'Open Sans', sans-serif;
}

/*Top Nav Bar*/

#top-nav	{
	top: 0;
	padding-bottom: 1vh;
	width: 100vw;
	border-bottom: 2px	solid black;
	background-color: white;
	position: fixed;
}

.nav-logo	{
	float: left;
	list-style-type: none;
}

.right-nav	{
	float: right;
	padding-right: 5vw;
	padding-left: 5vw;
	padding-top: 1vh;
}

.nav 	{
	display: inline;
	padding-right: 1rem;
	padding-left: 1rem;

}

.tuitt-button	{
	display: inline;
	padding-right: 1rem;
	padding-left: 1rem;
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
	background-color: #c2195b;
	border: 10px;
	border-radius: 20px;
	color: white;
}

/*Background picture*/

#bg-image	{
	padding-top: 5vh;
	min-height: 50vh;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center bottom;
	background-attachment: fixed;
}

.front-bg{
	background-color: rgba(1,1,1,0.5);
	min-height: 50vh;
}

/*Landing Page*/

.container 	{
	color: white;
	position: static;
	display: inline-block;
	text-align: right;
	padding-left: 55vw;
	padding-right: 10vw;
}

.title 	{
	float: right;
	font-family: 'Zilla Slab', serif;
	font-weight: bold;
	font-size: 2.4vw;
}

.subtitle	{
	float: right;
	font-weight: lighter;
	font-size: 1.2vw;
	padding-left: 5vw;
}

.apply-button	{
	padding-right: 2rem;
	padding-left: 2rem;
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
	background-color: #c2195b;
	border: 10px;
	border-radius: 20px;
	color: white;
}

/*Intro Section*/

.intro	{
	padding-top: 10vh;
	padding-bottom: 25vh;
	padding-left: 15vw;
	padding-right: 15vw;
}

.title-2	{
	text-align: center;
	font-family: 'Zilla Slab', serif;
	font-size: 2vw;
	font-weight: bolder !important;
}

.intro-description	{
	text-align: justify;
	padding-top: 10vh;
}

/*Prefooter*/

.prefooter-description	{
	text-align: center;
	padding-left: 15vw;
	padding-right: 15vw;
}

.book-button	{
	color: white;
	background-color: #336589;
	padding-right: 2rem;
	padding-left: 2rem;
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
	border: 10px;
	border-radius: 20px;
	text-align: center;
	 float: left;
    position: relative;
    left: 45.7%;
}

/*Footer*/

footer 	{
	padding-top: 10vh;
	text-align: center;
}
