#p3 {
	color: yellow;
}

* {
	font-family: Arial;
	font-size: 1 rem;
}

h1 {
	font-size: 50px;
}

#h2 {
	text-transform: uppercase;
}

.Languages {
	background-color:green ;
}

li[required] {
	border-width: 2px;
	border-style: solid;
	border-color: blue;
	width: 90%;
}

img + h4 {
	list-style-type: none;
}

section img {
	height: 100px;
	width: 100px;
	border-radius: 100%;
}

ul ~ p {
	text-align: center;
	color: black;
	font-size: 15px;
}

body > section > ul > li {
	letter-spacing: 10px;
	list-style-type: none;
}